.profileImage.small {
	max-height: 50px;
	max-width: 50px;

	min-height: 40px;
	min-width: 40px;
	border-radius: 40px;
}
.profileImage.medium {
	height: 100px;
	width: 100px;
}
.profileImage.large {
	height: 150px;
	width: 150px;
	border-radius: 1rem;
}
