.profileImage.small {
	max-height: 50px;
	max-width: 50px;

	min-height: 40px;
	min-width: 40px;
}
.profileImage.medium {
	height: 100px;
	width: 100px;
}
.profileImage.big {
	height: 150px;
	width: 150px;
}
