@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Press+Start+2P&display=swap');
body{
    background-color: #2F4E5C;
}
.App{
    min-height: 100vh;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
}
.mainContent{
    flex: 1;
    margin-top: 20px;
}
#gameCards{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap ;
    width: 75%;
    margin: 20px auto;
    justify-content: center;
}
.logo, .by{
    font-family: 'Press Start 2P', cursive;
    color: #E9E9E9;
    font-size: 1.8rem;
    margin: 5px;
    width: 33%;
    text-align: center;
}
.logo{
    text-decoration: none;
}
.by{width: 100%;}
nav{
    width: 33%;
}
p, button{
    font-family: 'Lato', sans-serif;
}
h1, h2, h3{

}